<!DOCTYPE html>
<head>
   <title>Home Page</title>
</head>
<body>
    <!--    this is the start of google translate code-->
    <div id="google_translate_element"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'zh-CN,pt,ru,es,fil'}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!--    this is the end of google translate code-->

   <h1>Orders</h1>
   <% for (var i in teammembers) {%>
       <p>Order_id: <%=teammembers[i].order_id%>, Customer_id: <%=teammembers[i].customer_id%>, Total Price: <%=teammembers[i].total_price%><p>
   <% } %>
</body>