<!DOCTYPE html>
<head>
    <title>Home Page</title>
</head>
<body>
    <p>This is <%=name%>'s homepage.</p>
    <a href="/menu">Menu</a>
    <a href="/manager/managerHome">Manager Home</a>
    <h1>SIGN IN</h1>
    <form action="/user" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Sign In">
    </form>
   <h1>TAs</h1>
   <h2>
      <%= name%>
   </h2>
   <a href = "/customer/CustomerHome">
      <h2>Order Now</h2>
   </a>

</body>