<!DOCTYPE html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/customerStyle.css">
</head>
<body>
    <div id = "homeHeader">
            <a href = "/menu"><img src = "/img/drink.png">Menu</a>
            <p><button onclick = "toggleFont()" class = "toggleFont" >toggle font size - Aa</button></p>
 

        <h1>HTeaML</h1>
        <div id = "right">
            <div class = "rightItem">
                <!--    this is the start of google translate code-->
                <div id="google_translate_element"></div>
                <script type="text/javascript">
                    function googleTranslateElementInit() {
                        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'zh-CN,pt,ru,es,fil'}, 'google_translate_element');
                    }
                </script>
                <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                <!--    this is the end of google translate code-->

            </div>
            <div class = "rightItem">
                <%- include('./partials/weatherNav', { weather: weather }) %>
            </div>

        </div>
    </div>

    <div class = "viewChoiceBar">
        <a class = "viewchoice" href = /auth/google?role=employee> Cashier</a>
        <a class = "viewchoice" href = /auth/google?role=manager >Manager</a>
        <a class = "viewchoice" href = customer/customerHome>Customer Kiosk</a>
    </div>

    
    <div class = "speechToTextContainer">
        <img id = "assistantImg"src = "">
        <button class = "speechButton" id = "speechBtn"> Speech Command Assistant</button>
    </div>

    <script src = "/js/customerHandler.js"></script>
    <script src = "/js/toggleFont.js"></script>
</body>
