<!DOCTYPE html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/customerStyle.css">
    <link rel="stylesheet" href="/css/colorblindstyle.css" id="colorblindStylesheet" disabled>
</head>
<body>
  <!---------- NAV BAR --------->
    <div id = "homeHeader">
      <div id = "homeNavBarLeft">
          <div>
            <a href = "/menu"><img src = "/img/drink.png">Menu</a>
          </div>
          <div>
            <label class="switch">
              <input type="checkbox" onclick = "toggleFont()" class = "toggleFont" checked>
              <span class="slider round">
                  <span class="small-a">A</span>
                  <span class="big-a">A</span>
              </span>
            </label>
          </div>

      </div>
            
        <h1 class = "title" >HTeaML</h1>
    <div id = "right">
      <div class = "rightItem">
               <!--    this is the start of google translate code-->
               <button id = "translateButton" class = "translateButtonStyling">
                  <img src = "/img/globe.png">
               </button>
               <div id="google_translate_element" style="display: none;"></div>
               <script type="text/javascript">
                  function googleTranslateElementInit() {
                     new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'zh-CN,pt,ru,es,fil'}, 'google_translate_element');
                  }
               </script>
               <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
               <!--    this is the end of google translate code-->

      </div>
      <div class="rightItem">
         <button id="colorblindToggle" class="toggleFont">
           Colorblind Mode
         </button>
       </div>
      <div class = "rightItem">
         <%- include('partials/weatherNav', { weather: weather }) %>
      </div>

    </div>
    </div>

  <!---------- NAV BAR  END--------->

    <div class = "viewChoiceBar">
        <a class = "viewchoice" href = /auth/google?role=employee> Cashier</a>
        <a class = "viewchoice" href = /auth/google?role=manager >Manager</a>
        <a class = "viewchoice" href = customer/customerHome>Customer Kiosk</a>
    </div>



    <script src = "/js/customerHandler.js"></script> 
    <script src = "/js/toggleFont.js"></script>
    <script>
        const cbToggle = document.getElementById("colorblindToggle");
        const cbSheet = document.getElementById("colorblindStylesheet");

        // Load saved preference
        if (localStorage.getItem("colorblind") === "on") {
          cbSheet.disabled = false;
        }

        // Toggle on click
        cbToggle.addEventListener("click", () => {
          cbSheet.disabled = !cbSheet.disabled;

          localStorage.setItem(
            "colorblind",
            cbSheet.disabled ? "off" : "on"
          );
        });
      </script>
    <script src = "/js/googleTranslateHandler.js"></script> 
    <script src = "/js/speechAssistantHandler.js"></script>
</body>
