<!DOCTYPE html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/customerStyle.css">
</head>
<body>
    <div id = "homeHeader">
        <div id = "homeNavBarLeft">
            <a href = "/index"><img src= "/img/home.png" alt = "Home Button">Home</a>
            <a href = "/menu"><img src = "/img/drink.png">Menu</a>
        </div>

        <h1>HTeaML</h1>

        <div id = "loginContainer">
            <a href="/auth/google">
                Admin Login
                <img src = "/img/login.png" alt = "admin login">
            </a>
        </div>  

    </div>

    <audio controls autoplay loop>
        <source src = "/sound/santa-moving-sound.mp3" type = "audio/mpeg">
    </audio>
    <img id ="santaAnimation" src= "/img/santa-kiana-gif.gif">





    <div id = "bodyContainer">
        <div id = "container1">
            <a href = "/customer/CustomerHome">
                <div id = "orderNowButton"><h2>Order Now</h2></div>
            </a>
            <div id = "apiContainer">
                <div class = "container">

                    <% if (weather) { %>
                    <% 
                    const validIcons = ['mist', 'rain', 'snow', 'clear', 'clouds', 'drizzle'];
                    let main = (weather.main || '').toLowerCase();
                    let icon = validIcons.includes(main) ? main : 'clear';
                    %>
                
                    <div class="weather-widget">        
                        <img
                            src="/img/<%= icon %>.png"
                            alt="<%= weather.description %> icon"
                            class="weather-icon"
                        />
                        <div class="weather-text">
                            <p><%= weather.temp %>°F</p>
                            <p><%= weather.description %></p>
                        </div>
                    </div>
                    <% } else { %>
                        <p>No weather data available.</p>
                    <% } %>
                </div>

                <div class = "container">
               <button id = "translateButton" class = "translateButtonHomeStyling">
                  Change Language
               </button>
               <div id="google_translate_element" style="display: none;""></div>
               <script type="text/javascript">
                  function googleTranslateElementInit() {
                     new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                  }
               </script>
               <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
               <!--    this is the end of google translate code-->
                </div>

            </div>
        </div>
    </div>


   <script src = "/js/customerHandler.js"></script> 
    <script src = "/js/googleTranslateHandler.js"></script> 
</body>
