<!DOCTYPE html>
<head>
    <title>Home Page</title>
</head>
<body>
<h1>Menu</h1>
    <% for (var i in beverage_info) {%>
        <p>Name: <%=beverage_info[i].name%>, Category: <%=beverage_info[i].category%>, Price: <%=beverage_info[i].price%><p>
    <% } %>
</body>