/*
FIGMA COLOR PALLET
moss : #CBDFCD
emerald : #68A691
rose: #EFC7C2
yellow: #FFE5D4
mauve : #694F5D
cream-white:  #FFFEF9

FONTS:
Instrument Sans

FONT COLORS:
green header: #68A691

*/


@import "@fontsource/instrument-sans";
@import "@fontsource/inria-sans";

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    font-family: "Instrument Sans", sans-serif;
    background-color:  #FFFEF9;
}

/* ---- customerNavBar styling --- */
.customerNavBarContainer{
    background-color:  #68A691;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 20px 20px;  /* Top Right Bottom Left */    
}
.customerNavBarContainer #left{
    background-color:  #68A691;
    display: flex;
    gap: 20px;
}


.customerNavBarContainer #left div a{
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 30px;
}

.customerNavBarContainer #left div a:hover{
    transform: scale(1.1, 1.1);
}


#right {
    display: flex;
    gap: 20px;
}

.rightItem {
    display: flex;
    align-items: center;
    height: 48px;
}

.translateButtonStyling{
    background-color: #68A691;
    border-style: none;
    cursor: pointer;
}

.translateButtonStyling:hover{
    transform: scale(1.1, 1.1);
}



/*--------- Weather Nav Bar ----------*/
.weatherWidgetNav{
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
}

.weatherWidgetNav p{
    font-size: 30px;
    color: black;

}

.weatherWidgetNav img{
    width:48px;
    height:48px;
}

/* ---- drinkNavBar Styling ---- */
.drinkNavBar{
    background-color:  #CBDFCD;
    width: 100vw; 
    margin: 0;   
    padding: 0;
    position: relative;
}

.drinkNavBar #titleContainer{
    padding: 20px 20px 0 0;
}
.drinkNavBar #titleContainer h1{
    text-align: center;
    font-size: 48px;
    color: #68A691;
}
.drinkNavBar #drinkContainer{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.drinkCategoryButton{
    font-family: "Instrument Sans", sans-serif;
    font-size: 30px;
    font-weight: bold;
    background: none;
    border: none;
    height: 80px;
    width: 250px;
    border-radius: 10px 10px 0 0;
}


.dropdown-content{
    flex-wrap: wrap;    
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #FFFEF9;
    margin: 100px 100px 200px 100px; /* Top Right Bottom Left */ 
    gap: 60px;   

}

.drinkCard {
    width: 200px; 
    min-width: 0;      
    aspect-ratio: 1/1;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color:#CBDFCD;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


.drinkCard:hover{
    background-color: #A3B5A5;
}

.drinkButton {
    border-style: none;
    width: 100%;
    padding: 0.5rem; 
    background-color:#CBDFCD;
}
.drinkCard:hover .drinkButton{
    background-color: #A3B5A5;
}


.drinkCard img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.drinkTextContainer {
    width: 100%;
    text-align: center;
    min-width: 0;   
}


/* ---- Home Page Styling ---- */
/*font-family: "Inria Sans", sans-serif;*/

#homeHeader{
    background-color: #68A691;
    height: 250px;
    display: flex;
    padding: 30px 20px 20px 20px;  /* Top Right Bottom Left */ 
    justify-content: space-between;
    position: relative;
}

#homeHeader h1{
    font-family: "Inria Sans", sans-serif;
    color:  #FFFEF9;
    font-size: 72px;
    position: absolute;
    left: 50%;
    bottom: 50px;  
    transform: translateX(-50%);
    margin: 0;
}

#loginContainer{
    display: flex;
    align-items: flex-start;
}
#loginContainer a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#homeNavBarLeft{
    display: flex;
    align-items: flex-start;
    gap: 100px;
}
#homeNavBarLeft a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#bodyContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;

}

#container1{
    width: 700px;
    height: auto;
    display:flex;
    flex-direction: column;
}

#container1 a{
    text-decoration: none;
}

#orderNowButton{
    width: 700px;
    height: 100px;
    border-radius: 10px;
    background-color: #68A691;
    color:#FFFEF9;
    border: none;
    font-size: 30px;
    text-decoration: none;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

#apiContainer{
    padding-top: 50px;
    display:flex;
    column-gap: 20px;

}

.container{
    border-radius: 10px;
    background-color: #D1DFCB;
    width: 340px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.weather-widget{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;
}

.weather-widget p{
    font-family: "Instrument Sans", sans-serif;
    font-size: 24px;
  
}

.translateButtonHomeStyling{
    background-color:#D1DFCB;
    width: 340px;
    height: 167px;
    cursor: pointer;
    border-style: none;
    border-radius: 10px;
    font-family: "Instrument Sans", sans-serif;
    font-size: 24px;
}


/*--------- Order Confirmation Page Styling -------------*/
.pageContainer{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#thankYouCard{
    background-color:#D1DFCB;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 500px;
    height: 320px;
    margin-top: 150px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#thankYouCard p{
    color:#68A691;
    font-weight: bold;
    font-size: 32px;
}

#confirmButtonContainer{
    display:flex;
    width: 500px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.confirmPageButtons{
    background-color: #68A691;
    width: 230px;
    height: 60px;
    color:#FFFEF9;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.confirmPageButtons a{
    text-decoration: none;
    color: #FFFEF9;
    font-weight: bold;
    font-size: 32px;;
}

/*----------------------- SANTA ANIMATION ---------------------------*/
#santaAnimation{
    animation-name: moveAcrossScreen;
    animation-duration: 7s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes moveAcrossScreen {
    0%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(100vw)
    }
    
}


