/*
FIGMA COLOR PALLET
moss : #CBDFCD
emerald : #68A691
rose: #EFC7C2
yellow: #FFE5D4
mauve : #694F5D
cream-white:  #FFFEF9

FONTS:
Instrument Sans

FONT COLORS:
green header: #68A691

*/


@import "@fontsource/instrument-sans";
@import "@fontsource/inria-sans";

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    font-family: "Instrument Sans", sans-serif;
    background-color:  #FFFEF9;
}

/* ---- customerNavBar styling --- */
.customerNavBarContainer{
    background-color:  #68A691;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 20px 20px;  /* Top Right Bottom Left */    
}
.customerNavBarContainer #left{
    background-color:  #68A691;
    display: flex;
    gap: 20px;
}


.customerNavBarContainer #left div a{
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 30px;
    transition: transform 0.2s ease
}

.customerNavBarContainer #left div a:hover{
    transform: scale(1.1, 1.1);
}


#right {
    display: flex;
    gap: 20px;
}

.rightItem {
    display: flex;
    align-items: center;
    height: 48px;
}

.translateButtonStyling{
    background-color: #68A691;
    border-style: none;
    cursor: pointer;
    transition: transform 0.2s ease
}

.translateButtonStyling:hover{
    transform: scale(1.1, 1.1);
}



/*--------- Weather Nav Bar ----------*/
.weatherWidgetNav{
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
}

.weatherWidgetNav p{
    font-size: 30px;
    color: black;

}

.weatherWidgetNav img{
    width:48px;
    height:48px;
}

/* ---- drinkNavBar Styling ---- */
.drinkNavBar{
    background-color:  #CBDFCD;
    width: 100vw; 
    margin: 0;   
    padding: 0;
    position: relative;
}

.drinkNavBar #titleContainer{
    padding: 20px 20px 0 0;
}
.drinkNavBar #titleContainer h1{
    text-align: center;
    font-size: 48px;
    color: #68A691;
}
.drinkNavBar #drinkContainer{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.drinkCategoryButton{
    font-family: "Instrument Sans", sans-serif;
    font-size: 30px;
    font-weight: bold;
    background: none;
    border: none;
    height: 80px;
    width: 250px;
    border-radius: 10px 10px 0 0;
}


.dropdown-content{
    flex-wrap: wrap;    
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #FFFEF9;
    margin: 100px 100px 200px 100px; /* Top Right Bottom Left */ 
    gap: 60px;   

}

.drinkCard {
    width: 200px; 
    min-width: 0;      
    aspect-ratio: 1/1;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color:#CBDFCD;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


.drinkCard:hover{
    background-color: #A3B5A5;
}

.drinkButton {
    border-style: none;
    width: 100%;
    padding: 0.5rem; 
    background-color:#CBDFCD;
    cursor: pointer;
}
.drinkCard:hover .drinkButton{
    background-color: #A3B5A5;
}


.drinkCard img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.drinkTextContainer {
    width: 100%;
    text-align: center;
    min-width: 0;   
}


/* ---- Home Page Styling ---- */
/*font-family: "Inria Sans", sans-serif;*/

#homeHeader{
    background-color: #68A691;
    height: 250px;
    display: flex;
    padding: 30px 20px 20px 20px;  /* Top Right Bottom Left */ 
    justify-content: space-between;
    position: relative;
}

#homeHeader h1{
    font-family: "Inria Sans", sans-serif;
    color:  #FFFEF9;
    font-size: 72px;
    position: absolute;
    left: 50%;
    bottom: 50px;  
    transform: translateX(-50%);
    margin: 0;
}

#loginContainer{
    display: flex;
    align-items: flex-start;
}
#loginContainer a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.2s ease
}
#loginContainer a:hover{
    transform: scale(1.1, 1.1);
}

#homeNavBarLeft{
    display: flex;
    align-items: flex-start;
    gap: 100px;
}
#homeNavBarLeft a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.2s ease
}

#homeNavBarLeft a:hover{
    transform: scale(1.1, 1.1);
}



#bodyContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 100px;

}

#container1{
    width: 700px;
    height: auto;
    display:flex;
    flex-direction: column;
}

#container1 a{
    text-decoration: none;
}

#orderNowButton{
    width: 700px;
    height: 100px;
    border-radius: 10px;
    background-color: #68A691;
    color:#FFFEF9;
    border: none;
    font-size: 30px;
    text-decoration: none;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#orderNowButton:hover{
    transform: scale(1.1, 1.1);
}

#apiContainer{
    padding-top: 50px;
    display:flex;
    column-gap: 20px;

}

.container{
    border-radius: 10px;
    background-color: #D1DFCB;
    width: 340px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.weather-widget{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;
}

.weather-widget p{
    font-family: "Instrument Sans", sans-serif;
    font-size: 24px;
  
}

.translateButtonHomeStyling{
    background-color:#D1DFCB;
    width: 340px;
    height: 167px;
    cursor: pointer;
    border-style: none;
    border-radius: 10px;
    font-family: "Instrument Sans", sans-serif;
    font-size: 24px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.translateButtonHomeStyling:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* -----------  Speech Implementation ---------- */

.speechToTextContainer{
    display:flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    bottom: 30px;   
    right: 20px;    
    z-index: 1000; 
    padding: 15px 20px;
    align-items: flex-start;
}
.speechButton {
    height: 50px;
    display:flex;
    align-items: center;
    align-self : center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #68A691;
    color: #FFFEF9;
    border: none;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.speechButton:hover{
    transform: scale(1.1, 1.1);
}

#assistantImg{
    display: none;
    width: auto;
    height: auto;
    align-self: center;
}

.speech-box {
    display: none;
    flex-direction: wrap;
    position: relative;
    width: 250px;
    background: #fff;
    padding: 20px;
    border-radius: 16px;
    border: 2px solid #c9ddd5;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.speech-box::after {
    content: "";
    position: absolute;
    right: 45px;
    bottom: -15px;
    width: 30px;
    height: 30px;
    background: white;
    border: 2px solid #c9ddd5;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.12);
}

#speechAssistantStartBtn{
    background-color:  #68A691;
    padding: 10px;
    border-radius: 5px;
    border-style:none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.12);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 120px;
}
#speechAssistantStartBtn a{
    text-decoration: none;
    color: white;
}

#speechAssistantStartBtn:hover{
    transform: scale(1.1, 1.1);
}

/*--------- Order Confirmation Page Styling -------------*/
.pageContainer{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#thankYouCard{
    background-color:#D1DFCB;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 500px;
    height: 320px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#thankYouCard p{
    color:#68A691;
    font-weight: bold;
    font-size: 32px;
}

#confirmButtonContainer{
    display:flex;
    width: 500px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.confirmPageButtons{
    background-color: #68A691;
    width: 230px;
    height: 60px;
    color:#FFFEF9;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.confirmPageButtons a{
    text-decoration: none;
    color: #FFFEF9;
    font-weight: bold;
    font-size: 32px;;
}



/*----------------------- SANTA ANIMATION ---------------------------*/
#santaAnimation{
    animation-name: moveAcrossScreen;
    animation-duration: 7s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes moveAcrossScreen {
    0%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(100vw)
    }
    
}
audio::-webkit-media-controls {
  display: none;
}


/*-----------   MENU BOARD ----------- */
#menuContainer{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    padding-left: 100px;
    padding-right: 1000px;
    row-gap: 30px;
}

.drinkMenuContainer{
    width: 500px;
}

.largeDot{
    font-size: 2em; /* Adjust as needed for desired size */
    font-weight: bold; /* Optional: make it bolder */
}


/* ----------   FOOTER  ----------*/
.footer{
    height: 200px;
}


/* ----------   MENU ASSISTANT PAGE ----------*/
#menuAndSpeechContainer{
    display:flex;
    flex-direction: row;
    width: 100%;
}

#menuAsstContainer{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    padding-left: 100px;
}
.orderSpeechContainer{
    width: 25%;
    background: #fff;
    border-radius: 16px;
    border: 2px solid #c9ddd5;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    position: fixed;
    bottom: 30px;   
    right: 20px;    
    z-index: 1000; 
    padding: 15px 20px;

}
/*
    display: none;
    flex-direction: wrap;
*/


#chatBox{
    display:flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    align-items: flex-start;
    justify-self: center;
}



#startButton, #endButton{
    background-color:  #68A691;
    padding: 10px;
    border-radius: 5px;
    border-style:none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.12);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 120px;
    text-decoration: none;
    color: white;
}

#startButton:hover{
    transform: scale(1.1, 1.1);
}

#endButton:hover{
    transform: scale(1.1, 1.1);
}

#assistantImgMenu{
    height: 100px;
    width: auto;
}

#getStartedMessage {
    display: block;
    flex-direction: wrap;
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 16px;
    border: 2px solid #c9ddd5;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    height: 200px;
    width: auto;
}

#getStartedMessage::after {
    content: "";
    position: absolute;
    left: 40px;
    bottom: -15px;
    width: 30px;
    height: 30px;
    background: white;
    border: 2px solid #c9ddd5;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.12);
}



