:root {
    --moss : #CBDFCD;
    --med-green:  #dbf3df;
    --rose: #EFC7C2;
    --yellow: #FFE5D4;
    --mauve : #694F5D;
    --cream-white:  #FFFEF9;
    --green-header: #68A691;
    --light-green: #f1faf2;
    --button: #E7EEE8;
    --button-selected: #BED9C1;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    font-family: "Instrument Sans", sans-serif;
    background-color:  var(--cream-white);
}

h1 {
    justify-self: center;
    color: var(--green-header);
    padding: 20px 0;
}
.navBarContainer{
    background-color:  var(--green-header);
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 20px 20px;  /* Top Right Bottom Left */    
}
.navBarContainer #left{
    background-color:  var(--green-header);
    display: flex;
    gap: 20px;
}


.navBarContainer #left div a{
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 30px;
}

.navBarContainer #left div a:hover{
    transform: scale(1.1, 1.1);
}


.drinkContainer {
    display: flex;
    flex-direction: row;
    background-color: var(--cream-white);
    gap:20px;
    justify-content: center;
    padding: 10px 0 100px;
    box-shadow: 0 -5px 10px 3px rgba(0, 0, 0, 0.1);
}

.col {
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    flex: 1;
}

.drinkCard {
    text-decoration: none;
    color:var(--mauve);
    width: 100%; 
    font-size: small;
    min-width: 0;

    border-radius: 5px;
    border-color: var(--med-green);

    display: flex;

    align-items: center;
    background-color: var(--light-green);
    padding: 10px;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}


.drinkCard:hover{
    background-color: var(--med-green);
}

/* customization */
form {
    padding: 20px;
}
form input {
    background-color: var(--light-green);
    border-color: var(--green-header);
}
form button {
    background-color: var(--button);   
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 2px;

}
form button:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
form .submit {
    background-color: var(--green-header);
    color: var(--cream-white);
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
form button.active {
    background-color: var(--button-selected);   
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
.orderInfoCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
}


.checkout {
    text-decoration: none;
    border-radius: 20px;
    background-color: var(--med-green);
    color: var(--light-green);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.checkout:hover {
    background-color: var(--moss);
}

.orders {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2%;
    width: 45%;
}

.orderCard p, 
.orderCard h1,
.totals p, 
.Price, 
.Quantity {
    margin: 2px 0;  /* small top/bottom margin */
    line-height: 1.2; /* tighter line spacing */
}
.totals, .orderCard {
    border-radius: 10px;
    border: 1px solid var(--green-header);
    background-color: var(--light-green);
    padding: 10px;
    
    display: flex;
    align-items: flex-start;
    

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.totals {
    padding: 2%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 40%;
    height: fit-content;
    margin: 2.5%;
}

.orderCard {
    flex-direction: row;
    gap: 0px;
    justify-content: flex-start;
    align-items: center;
}

.orderCard a {
    width: 20%;
    padding: 1px;
}


.orderCard h1 {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
} 
.Price, .subtotal {
    color: var(--green-header);
    font-weight: bold;
    font-size: 1.2em;
}

.totalText {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
}


.details {
    font-size: 1em;
    color: var(--green-header);
}

.Quantity {
    color: red;
}

#editButton button {
    background: transparent;
    border: none;
    padding: 5px, 0px, 5px, 0px;
    margin: 0;
}

#editButton img {
    width: 35px;
    height: auto;
    cursor: pointer;
}

#editButton img:hover {
    transform: scale(1.1);
}

