/*
FIGMA COLOR PALLET
moss : #CBDFCD
emerald : #68A691
rose: #EFC7C2
yellow: #FFE5D4
mauve : #694F5D
cream-white:  #FFFEF9

light light green: #F8FFF9
dark green text color: #3F7462

FONTS:
Instrument Sans

FONT COLORS:
green header: #68A691

*/


@import "@fontsource/instrument-sans";

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    font-family: "Instrument Sans", sans-serif;
    background-color:  #FFFEF9;
}

/* ---- managerNavBar styling --- */
.managerNavBarContainer{
    background-color:  #68A691;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 20px 20px;  /* Top Right Bottom Left */    
}
.managerNavBarContainer #left{
    background-color:  #68A691;
    display: flex;
    gap: 20px;
}

.managerNavBarContainer #left div a{
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 30px;
}

.managerNavBarContainer #left div a:hover{
    transform: scale(1.1, 1.1);
}


/* ---- page styling ----*/

/* inventory home */
.inventoryHomeNav #title{
    padding: 55px 20px 0 0;
}
.inventoryHomeNav #title h1{
    text-align: center;
    font-size: 65px;
    color: #68A691;
}

.inventoryHomeNav #mainInventoryChoices{
    display: flex;
    justify-content: space-between;
    padding: 90px 200px 20px 200px;
}

.inventoryHomeNav #mainInventoryChoices div a{
    background-color: #CBDFCD;
    display: flex;
    gap: 20px;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;

    text-decoration: none;
    color: #3F7462;
    text-align: center;
    font-size: 35px;
}

.inventoryHomeNav #mainInventoryChoices div a:hover{
    transform: scale(1.1, 1.1);
}

/* inventory sub pages */
.inventorySubPage #title{
    padding: 45px 20px 0 0;
}

.inventorySubPage #title h1{
    text-align: center;
    font-size: 50px;
    color: #68A691;
}

.inventorySubPage #inventoryTable{
    padding: 45px 20px 0 0;
}

.inventorySubPage #inventoryTable table{
    border-collapse: collapse; /* Collapses cell borders into a single border */
    width: 50%;
}

.inventorySubPage #inventoryTable th, td {
    border: 1px solid #ccc; /* Adds borders to header and data cells */
    padding: 8px; /* Adds padding inside cells */
    text-align: left; /* Aligns text to the left */
}

.inventorySubPage #inventoryTable tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternating background color for even rows */
}

.inventorySubPage #inventoryTable tbody tr:hover {
    background-color: #e0e0e0; /* Highlight row on hover */
}