/*
FIGMA COLOR PALLET
moss : #CBDFCD
emerald : #68A691
rose: #EFC7C2
yellow: #FFE5D4
mauve : #694F5D
cream-white:  #FFFEF9

light light green: #F8FFF9
dark green text color: #3F7462

FONTS:
Instrument Sans

FONT COLORS:
green header: #68A691

*/


@import "@fontsource/instrument-sans";

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    font-family: "Instrument Sans", sans-serif;
    background-color:  #FFFEF9;
}

/* ---- managerNavBar styling --- */
.managerNavBarContainer{
    background-color:  #68A691;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 20px 20px;  /* Top Right Bottom Left */    
}
.managerNavBarContainer #left{
    background-color:  #68A691;
    display: flex;
    gap: 20px;
}

.managerNavBarContainer #left div a{
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 30px;
}

.managerNavBarContainer #left div a:hover{
    transform: scale(1.1, 1.1);
}

/* ---- manager Home Page --- */
.managerMain #title{
    padding: 55px 0 0 0;
}

.managerMain #title h1{
    text-align: center;
    font-size: 65px;
    color: #68A691;
}

.managerMain #mainChoices{
    display: flex;
    justify-content: space-between;
    padding: 70px 200px 40px 200px;
}

.managerMain #mainChoices div a{
    background-color: #F8FFF9;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    width: 150px;
    height: 150px;

    text-decoration: none;
    color: #3F7462;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    box-shadow: 0 2px 5px rgb(63, 116, 98);
}

/* .managerMain #mainChoices div img{
    text-align: center;
    justify-content: center;
} */

.managerMain #mainChoices div a:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 0 8px 15px rgb(63, 116, 98);
}

/* ---- page styling ----*/

/* inventory home */
.inventoryHomeNav #title{
    padding: 55px 0 0 0;
}
.analyticsHomeNav #title{
    padding: 55px 0 0 0;
}

.inventoryHomeNav #title h1{
    text-align: center;
    font-size: 65px;
    color: #68A691;
}
.analyticsHomeNav #title h1{
    text-align: center;
    font-size: 65px;
    color: #68A691;
}

.inventoryHomeNav #mainInventoryChoices{
    display: flex;
    justify-content: space-between;
    padding: 90px 200px 20px 200px;
}
.analyticsHomeNav #mainInventoryChoices{
    display: flex;
    justify-content: space-between;
    padding: 90px 100px 20px 100px;
}

.inventoryHomeNav #mainInventoryChoices div a{
    background-color: #CBDFCD;
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;

    text-decoration: none;
    color: #3F7462;
    text-align: center;
    font-size: 35px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.analyticsHomeNav #mainInventoryChoices div a{
    background-color: #CBDFCD;
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;

    text-decoration: none;
    color: #3F7462;
    text-align: center;
    font-size: 35px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.inventoryHomeNav #mainInventoryChoices div a:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.analyticsHomeNav #mainInventoryChoices div a:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* inventory sub pages */
.inventorySubPage {
    padding-bottom: 20px;
}

.inventorySubPage #title{
    padding: 45px 0 0 0;
}

.inventorySubPage #title h1{
    text-align: center;
    font-size: 50px;
    color: #68A691;
}

.inventorySubPage #inventoryTable{
    padding: 20px 0 0 0;
    text-align: center;
}

.inventorySubPage #inventoryTable table{
    border-collapse: collapse; /* Collapses cell borders into a single border */
    width: 40%;
    margin: 0 auto;
    table-layout: fixed;
}

.inventorySubPage #inventoryTable th{
    border: 2px solid #68A691; /* Adds borders to header and data cells */
    padding: 8px; /* Adds padding inside cells */
    text-align: center; 
    background-color: #3F7462;;
    color: #F8FFF9;
    font-size: 35px;
    width: 50%;
}

.inventorySubPage #inventoryTable td{
    border: 2px solid #68A691; /* Adds borders to header and data cells */
    padding: 8px; /* Adds padding inside cells */
    text-align: center;
    background-color: #F8FFF9;
    color: #3F7462;
    font-size: 25px;
}

.inventorySubPage #restockButton{
    padding: 45px 0 0 0;
    text-align: center;
}


.inventorySubPage #restockButton button{
    margin: 0 auto;
    text-decoration: none;
    font-size: 27px;
    background-color: #68A691;
    color: #F8FFF9;
    border-color: #68A691;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 3px;
}

.inventorySubPage #restockButton button:hover{
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
}

/* modify inventory */
.invModOptions {
    padding: 25px 0 45px 0;
    text-align: center;
}

.invModOptions button {
    margin: 0 auto;
    text-decoration: none;
    font-size: 18px;
    background-color: #68A691;
    color: #F8FFF9;
    border-color: #68A691;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 3px;
}

.invModOptions button:hover{
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
}

.invModOptions label {
    margin: 0 auto;
    text-decoration: none;
    font-size: 22px;
    color: #3F7462;
    padding: 0 0 0 20px;
}

.invModOptions input, select {
    margin: 0 auto;
    text-decoration: none;
    font-size: 15px;
    color: #3F7462;
}

/* ordering trends */
.orderingTrends #title{
    padding: 45px 0 0 0;
}

.orderingTrends #title h1{
    text-align: center;
    font-size: 50px;
    color: #68A691;
}

.orderingTrends #data {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.orderingTrends #data p{
    font-size: 25px;
    color: #3F7462;
}

.orderingTrends #dateInput{
    display: flex;
    justify-content: center;
}

.orderingTrends #dateInput label{
    margin: 0 auto;
    text-decoration: none;
    font-size: 25px;
    color: #3F7462;
    padding: 0 0 0 20px;
}

.orderingTrends #dateInput input {
    margin: 0 auto;
    text-decoration: none;
    font-size: 20px;
    color: #3F7462;
}

.orderingTrends #dateInput button{
    margin: 0 auto;
    text-decoration: none;
    font-size: 20px;
    background-color: #68A691;
    color: #F8FFF9;
    border-color: #68A691;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 3px;
}

.orderingTrends #dateInput button:hover{
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
}

.orderingTrends #graph {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.orderingTrends #graph #barChart {
    height: 500px;
    width: auto;
}

/* z-report */
.zReportPage #title{
    padding: 45px 0 0 0;
}

.zReportPage #title h1{
    text-align: center;
    font-size: 50px;
    color: #68A691;
    padding-bottom: 40px;
}

.zReportPage #currDate p{
    text-align: center;
    font-size: 20px;
    color: #68A691;
}

.zReportPage #submitButton {
    text-align: center;
}

.zReportPage #submitButton button{
    margin: 0 auto;
    text-decoration: none;
    font-size: 20px;
    background-color: #68A691;
    color: #F8FFF9;
    border-color: #68A691;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 3px;
}

.zReportPage #submitButton button:hover{
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
}

.zReportPage #row1 {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 30px;
}

.zReportPage #row2 {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.zReportPage #row1, #row2 p {
    font-size: 20px;
    color: #68A691;
}

/* x-report */
.xReportPage #title {
    padding: 45px 0 0 0;
}

.xReportPage #title h1{
    text-align: center;
    font-size: 50px;
    color: #68A691;
    padding-bottom: 20px;
}

.xReportPage p{
    text-align: center;
    font-size: 25px;
    color: #68A691;
}

.xReportPage h2{
    text-align: center;
    font-size: 35px;
    color: #68A691;
}

.xReportPage #reportTable{
    padding: 10px 0 20px 0;
    text-align: center;
}

.xReportPage #reportTable table{
    border-collapse: collapse; /* Collapses cell borders into a single border */
    width: 40%;
    margin: 0 auto;
    table-layout: fixed;
}

.xReportPage #reportTable th{
    border: 2px solid #68A691; /* Adds borders to header and data cells */
    padding: 8px; /* Adds padding inside cells */
    text-align: center;
    background-color: #3F7462;;
    color: #F8FFF9;
    font-size: 35px;
    width: 50%;
}

.xReportPage #reportTable td{
    border: 2px solid #68A691; /* Adds borders to header and data cells */
    padding: 8px; /* Adds padding inside cells */
    text-align: center;
    background-color: #F8FFF9;
    color: #3F7462;
    font-size: 25px;
}

.xReportPage #submitButton {
    text-align: center;
    padding-top: 30px;
}

.xReportPage #submitButton button{
    margin: 0 auto;
    text-decoration: none;
    font-size: 20px;
    background-color: #68A691;
    color: #F8FFF9;
    border-color: #68A691;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 3px;
}

.xReportPage #submitButton button:hover{
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
}

/* sales-report */
.orderingTrends #salesTable{
    padding: 20px 0 20px 0;
    text-align: center;
}

.orderingTrends #salesTable table{
    border-collapse: collapse; /* Collapses cell borders into a single border */
    width: 70%;
    margin: 0 auto;
    table-layout: fixed;
}

.orderingTrends #salesTable th{
    border: 2px solid #68A691; /* Adds borders to header and data cells */
    padding: 8px; /* Adds padding inside cells */
    text-align: center; 
    background-color: #3F7462;;
    color: #F8FFF9;
    font-size: 35px;
    width: 50%;
}

.orderingTrends #salesTable td{
    border: 2px solid #68A691; /* Adds borders to header and data cells */
    padding: 10px; /* Adds padding inside cells */
    text-align: center;
    background-color: #F8FFF9;
    color: #3F7462;
    font-size: 25px;
}