<!DOCTYPE html>
<head>
   <title>Analytics Home</title>
</head>
<body>
   <!--    this is the start of google translate code-->
   <div id="google_translate_element"></div>
   <script type="text/javascript">
      function googleTranslateElementInit() {
         new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
      }
   </script>
   <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
   <!--    this is the end of google translate code-->

   <a href = "..\managerHome">Back</a>
   <h1>Analytics Home</h1>
   <a href = "orderingTrends">Ordering Trends</a>
   <a href = "zReport">Z report</a>
   <a href = "xReport">X report</a>
   <a href = "salesReport">Sales Report</a>
   <a href = "productUsageChart">Product Usage Chart</a>
</body>