<!DOCTYPE html>
<head>
   <link rel="stylesheet" href="/css/managerStyle.css">
   <title>Analytics Home</title>
</head>
<body>
   <div class = "managerNavBarContainer">
      <div id = "left">
         <div>
            <a href = "..\managerHome"> <img height = "55px" src="/img/skipBack.png">Back</a>
         </div>
         <div>
            <a href = "/logout"> <img height = "55px" src="/img/logInOrOut.png">Logout</a>
         </div>
      </div>

      <div id = "right">
         <div>
            <!--    this is the start of google translate code-->
            <div id="google_translate_element"></div>
            <script type="text/javascript">
               function googleTranslateElementInit() {
                  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'zh-CN,pt,ru,es,fil'}, 'google_translate_element');
               }
            </script>
            <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            <!--    this is the end of google translate code-->
         </div>
      </div>
   </div>

   <div class = "analyticsHomeNav">
      <div id = "title">
         <h1>Analytics Home</h1>
      </div>

      <div id = "mainInventoryChoices">
         <div>
            <a href = "orderingTrends">Ordering Trends</a>
         </div>
         <div>
            <a href = "zReport">Z report</a>
         </div>
         <div>
            <a href = "xReport">X report</a>
         </div>
         <div> 
            <a href = "salesReport">Sales Report</a>
         </div>
         <div>
            <a href = "productUsageChart">Product Usage Chart</a>
         </div>
      </div>
   </div>
</body>