<!DOCTYPE html>
<head>
   <title>Analytics Home</title>
</head>
<body>
   <a href = "..\managerHome">Back</a>
   <h1>Analytics Home</h1>
   <a href = "orderingTrends">Ordering Trends</a>
   <a href = "zReport">Z report</a>
   <a href = "xReport">X report</a>
   <a href = "salesReport">Sales Report</a>
   <a href = "productUsageChart">Product Usage Chart</a>
</body>