<!DOCTYPE html>
<head>
   <title>Product Usage Chart</title>
</head>
<body>
   <a href = "analyticsOptions">Back</a>
   <a href = "/logout"> Logout </a>
   <h1>Product Usage</h1>

   <table>
      <thread>
         <tr>
            <th>Item</th>
            <th>Usage</th>
         </tr>
      </thread>
      <tbody>
         <% for (var i in product_usage) {%>
            <tr>
               <td><%=product_usage[i].item_name%></td>
               <td><%=product_usage[i].total_quantity%>%></td>
            </tr>
         <% } %>
      </tbody>
   </table>

</body>