<!DOCTYPE html>
<head>
   <title>Product Usage Chart</title>
</head>
<body>
   <h1>Product Usage</h1>
   <% for (var i in product_usage) {%>
       <p>Item: <%=product_usage[i].item_name%>, Usage: <%=product_usage[i].total_quantity%>%><p>
   <% } %>

</body>