<!DOCTYPE html>
<head>
    <title>Bases Inventory</title>
</head>
<body>
<!--    TODO anna-->
    <a href = "inventoryHome">Back</a>
    <h1>Disposables Inventory</h1>

    <table>
        <thread>
            <tr>
                <th>Item</th>
                <th>Stock Level</th>
            </tr>
        </thread>
        <tbody>
            <% for (var i in inventoryDisposables) {%>
            <tr>
                <td><%=inventoryDisposables[i].name%></td>
                <td><%=inventoryDisposables[i].stock_level%>%></td>
            </tr>
            <% } %>
        </tbody>
    </table>

    <form action="/inventory/updateBaseStock" method="POST">
<!--        add base stock route post-->
        <button>Add Inventory</button>
    </form>
</body>