<!DOCTYPE html>
<head>
    <title>Disposables Inventory</title>
</head>
<body>
    <a href = "inventoryHome">Back</a>
    <a href = "/logout"> Logout </a>
    <h1>Disposables Inventory</h1>

    <table>
      <thread>
         <tr>
            <th>Item</th>
            <th>Stock Level</th>
         </tr>
      </thread>
      <tbody>
         <% for (var i in inventoryDisposables) {%>
            <tr>
               <td><%=inventoryDisposables[i].name%></td>
               <td><%=inventoryDisposables[i].stock_level%>%></td>
            </tr>
         <% } %>
      </tbody>
   </table>

   <form action="/manager/updateDisposableStock" method="post">
        <button type="submit">Update Disposables Stock</button>
   </form>
</body>