<!DOCTYPE html>
<head>
   <link rel="stylesheet" href="/css/managerStyle.css">
   <title>Disposables Inventory</title>
</head>
<body>
   <div class = "managerNavBarContainer">
      <div id = "left">
         <div>
            <a href = "inventoryHome"> <img height = "55px" src="/img/skipBack.png">Back</a>
         </div>
         <div>
            <a href = "/logout"> <img height = "55px" src="/img/logInOrOut.png">Logout</a>
         </div>
      </div>

      <div id = "right">
         <div>
            <!--    this is the start of google translate code-->
            <div id="google_translate_element"></div>
            <script type="text/javascript">
               function googleTranslateElementInit() {
                  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'zh-CN,pt,ru,es,fil'}, 'google_translate_element');
               }
            </script>
            <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            <!--    this is the end of google translate code-->
         </div>
      </div>
   </div>


   <div class = "inventorySubPage">
      <div id = "title">
         <h1>Disposables Inventory</h1>
      </div>

      <div id = "inventoryTable">
         <table>
            <thread>
               <tr>
                  <th>Item</th>
                  <th>Stock Level</th>
               </tr>
            </thread>
            <tbody>
               <% for (var i in inventoryDisposables) {%>
                  <tr>
                     <td><%=inventoryDisposables[i].name%></td>
                     <td><%=inventoryDisposables[i].stock_level%>%></td>
                  </tr>
               <% } %>
            </tbody>
         </table>
      </div>

      <div id = "restockButton">
         <div>
            <form action="/manager/updateDisposableStock" method="post">
               <button type="submit">Update Disposables Stock</button>
            </form>
         </div>
      </div>
   </div>
</body>