<!DOCTYPE html>
<head>
   <title>Inventory Home</title>
</head>
<body>
   <a href = "..\managerHome">Back</a>
   <h1> Inventory </h1>

   <a href = "baseInventory">Bases</a>
   <a href = "disposablesInventory">Disposables</a>
   <a href = "teaInventory">Teas</a>
   <a href = "toppingsInventory">Toppings</a>

   <br>
   <a href = "modifyInventory">Modify</a>

   <!-- <h2>Inventory Display</h2>
   <% for (var i in inventory) {%>
       <p>item: <%=inventory[i].name%>, id: <%=inventory[i].inventory_id%>, stock: <%=inventory[i].stock_level%><p>
   <% } %> -->

</body>