<!DOCTYPE html>
<head>
   <title>Inventory Home</title>
</head>
<body>
   <h1> Inventory </h1>

   <% for (var i in inventory) {%>
       <p>item: <%=inventory[i].name%>, id: <%=inventory[i].inventory_id%>, stock: <%=inventory[i].stock_level%><p>
   <% } %>

</body>