<!DOCTYPE html>
<head>
    <title>Modify Inventory</title>
</head>
<body>
    <!--    this is the start of google translate code-->
    <div id="google_translate_element"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!--    this is the end of google translate code-->

    <a href = "inventoryHome">Back</a>
    <a href = "/logout"> Logout </a>
    <h1>Modify Inventory</h1>
    <div class="inventory">
        <% for (var i in inventory) { %>
        <p>Inventory ID: <%=inventory[i].inventory_id%>, Name: <%=inventory[i].name%>, Stock: <%=inventory[i].stock_level%></p>
        <% } %>
    </div>

    <form action="/manager/inventory/addItem" method="POST">
<!--        consider auto-incrementing to prevent random numbers-->
        <input type="number" name="id" required>
        <input type="text" name="name" required>
        <input type="number" name="stock">
        <button type="submit">Add to Inventory</button>
    </form>

    <form action="/manager/inventory/deleteItem" method="POST">
<!--        change to dropdown-->
        <input type="number" name="id" required>
        <button type="submit">Delete from Inventory</button>
    </form>
</body>