<!DOCTYPE html>
<head>
    <title>Toppings Inventory</title>
</head>
<body>
    <a href = "inventoryHome">Back</a>
    <h1>Toppings Inventory</h1>

    <table>
      <thread>
         <tr>
            <th>Item</th>
            <th>Stock Level</th>
         </tr>
      </thread>
      <tbody>
         <% for (var i in inventoryToppings) {%>
            <tr>
               <td><%=inventoryToppings[i].name%></td>
               <td><%=inventoryToppings[i].stock_level%>%></td>
            </tr>
         <% } %>
      </tbody>
   </table>

   <form action="/manager/updateToppingsStock" method="post">
        <button type="submit">Update Toppings Stock</button>
   </form>
</body>