<!DOCTYPE html>
<head>
   <title>Employee Modification</title>
</head>
<body>
   <h1> Employees </h1>

   <% for (var i in employees) {%>
       <p>Employee: <%=employees[i].first_name%> <%=employees[i].last_name%>, id: <%=employees[i].employee_id%>%><p>
   <% } %>
</body>