<!DOCTYPE html>
<head>
    <title>Item Modification</title>
</head>

<body>
    <h1>Item Modification</h1>
    <p><strong>ID:</strong> <%= item.beverage_info_id %></p>
    <p><strong>Name:</strong> <%= item.name %></p>
    <p><strong>Price:</strong> <%= item.price %></p>
</body>