<!DOCTYPE html>
<head>
   <title>Manager Home</title>
</head>
<body>
   <h1>Manager Home</h1>
   <a href = "employeeModification">Edit Employees</a>
   <a href = "inventory/inventoryHome">Inventory</a>
   <a href = "analytics/analyticsOptions" >Analytics</a>
   <a href = "menuModification" >Menu Modification</a>
</body>