<!DOCTYPE html>
<head>
   <title>Customer Home</title>
</head>
<body>
   <a href = "../index">Back</a>

   <!--    this is the start of google translate code-->
   <div id="google_translate_element"></div>
   <script type="text/javascript">
      function googleTranslateElementInit() {
         new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
      }
   </script>
   <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
   <!--    this is the end of google translate code-->

   <h1>Customer Home</h1>

   <!-- <a href = "http://localhost:3000/">Home</a> -->
   <a href = "customerHome">Menu</a>
   <a href = "freshBrew">Fresh Brew Tea</a>
   <a href = "fruity" >Fruit Tea</a>
   <a href = "iceBlended">Ice Blended</a>
   <a href = "milky">Milk Tea</a>
   <a href = "orderSummary" >Cart</a>
   <%- include('../partials/weather', { weather: weather }) %>
</body>

<!--
    - Add Search Bar
    - Add Nav Bar
    - Add Buttons -- maybe reusable ones
-->

