<!DOCTYPE html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/customerStyle.css">
</head>
<body>
<div class = "customerNavBarContainer">
   <div id = "left">


        <div>
            <a href = "orderSummary" >
                <img src = "/img/shoppingCart.png">
                Cart</a>
        </div>

       <p><button onclick = "toggleFont()" class = "toggleFont" >toggle font size - Aa</button></p>
    </div>

    <div id = "right">
      <div class = "rightItem">
          <!--    this is the start of google translate code-->
          <div id="google_translate_element"></div>
          <script type="text/javascript">
              function googleTranslateElementInit() {
                  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'zh-CN,pt,ru,es,fil'}, 'google_translate_element');
              }
          </script>
          <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
          <!--    this is the end of google translate code-->

      </div>
      <div class = "rightItem">
         <%- include('../partials/weatherNav', { weather: weather }) %>
      </div>

    </div>
</div>


    <h1>Start a new order</h1>

    <div id = "customerChoice">
            <a id = "orderNowButton" href = "/auth/google?role=customer">
                <h2 >Log In</h2>
            </a> 
            <a id = "orderNowButton" href = "/customer/customerOrder">
                <h2 >Order as Guest</h2>
            </a> 
    </div>

    <div class = "speechToTextContainer">
        <img id = "assistantImg"src = "">
        <button class = "speechButton" id = "speechBtn"> Speech Command Assistant</button>
    </div>

    <script src = "/js/customerHandler.js"></script>
    <script src = "/js/toggleFont.js"></script>
</body>
