<!DOCTYPE html>
<head>
   <title>Customer Home</title>
</head>
<body>
   <h1>Customer Home</h1>

   <a href = "customerHome">Home</a>
   <a href = "freshBrew">Fresh Brew Tea</a>
   <a href = "fruity" >Fruit Tea</a>
   <a href = "iceBlended">Ice Blended</a>
   <a href = "milky">Milk Tea</a>
   <a href = "orderSummary" >Cart</a>
</body>

<!--
    - Add Search Bar
    - Add Nav Bar
    - Add Buttons -- maybe reusable ones
-->

