<!DOCTYPE html>
<head>
   <title>Fresh Brew</title>
</head>
<body>
   <h1>Fresh Brew</h1>
   <a href = "customerHome">Home</a>
   <a href = "freshBrew">Fresh Brew Tea</a>
   <a href = "fruity" >Fruit Tea</a>
   <a href = "iceBlended">Ice Blended</a>
   <a href = "milky">Milk Tea</a>
   <a href = "orderSummary" >Cart</a>

   <br>
   
    <% for (let drink of freshBrew_drinks) { %>
        <p>Name: <%= drink.name %>, Price: <%= drink.price %></p>
    <% } %>


</body>

<!--
    Make this page dynamic, ie if someone were add a menu item, create cards and photos for that
    to be displayed.
-->