<!DOCTYPE html>
<head>
   <title>Milky Series</title>
</head>
<body>
   <h1>Milky Series</h1>
   <a href = "customerHome">Home</a>
   <a href = "freshBrew">Fresh Brew Tea</a>
   <a href = "fruity" >Fruit Tea</a>
   <a href = "iceBlended">Ice Blended</a>
   <a href = "milky">Milk Tea</a>
   <a href = "orderSummary" >Cart</a>

   <br>
   
    <% for (let drink of milky_drinks) { 

        let img_url;
        let img_size = img_array.length;

        if (drink.beverage_info_id > img_size - 1){
            img_url = img_array[0];
        }
        else{
            img_url = img_array[drink.beverage_info_id];
        }
        %>
        <img src="<%= img_url %>">
        <p>Name: <%= drink.name %>, Price: <%= drink.price %></p>
    <% } %>

</body>

<!--
    Make this page dynamic, ie if someone were add a menu item, create cards and photos for that
    to be displayed.
-->