<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="/css/customerStyle.css">
  </head>
  <body>
    <%- include("../partials/customerNavBar") %>
    <div class = "pageContainer">
      <div id = "thankYouCard">
        <h1>Thank you for your order!</h1>
        <p>It will be ready shortly</p>
      </div>

      <div id = "confirmButtonContainer">
        <div class = "confirmPageButtons"><a href="../index">Back to Home</a></div>
        <div class = "confirmPageButtons"><a href="customerHome">Next Order</a></div>
      </div>

    </div>

  </body>
</html>