<!DOCTYPE html>
<head>
   <title>Order Summary</title>
</head>
<body>
   <h1>Order Summary</h1>
   <a href = "customerHome">Home</a>
   <a href = "freshBrew">Fresh Brew Tea</a>
   <a href = "fruity" >Fruit Tea</a>
   <a href = "iceBlended">Ice Blended</a>
   <a href = "milky">Milk Tea</a>
   <a href = "orderSummary" >Cart</a>

</body>