<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="/css/customerStyle.css">
    <link rel="stylesheet" href="/css/colorblindstyle.css" id="colorblindStylesheet" disabled>
  </head>
  <body>
  <!--    this is the start of google translate code-->
  <div id="google_translate_element"></div>
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'zh-CN,pt,ru,es,fil'}, 'google_translate_element');
    }
  </script>
  <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <!--    this is the end of google translate code-->

    <%- include("../partials/customerNavBar") %>

    <audio controls autoplay loop>
        <source src = "/sound/santa-moving-sound.mp3" type = "audio/mpeg">
    </audio>
    <img id ="santaAnimation" src= "">

    <div class = "pageContainer">
      <div id = "thankYouCard">
        <h1>Thank you for your order!</h1>
        <p>It will be ready shortly</p>
      </div>

      <div id = "confirmButtonContainer">
        <div class = "confirmPageButtons"><a href="/logout">Exit</a></div>
        <div class = "confirmPageButtons"><a href="customerHome">Next Order</a></div>
      </div>

    </div>

    <script src = "/js/customerHandler.js"></script> 
    <script>
      const cbToggle = document.getElementById("colorblindToggle");
      const cbSheet = document.getElementById("colorblindStylesheet");
    
      // Load saved preference
      if (localStorage.getItem("colorblind") === "on") {
        cbSheet.disabled = false;
      }
    
      // Toggle on click
      cbToggle.addEventListener("click", () => {
        cbSheet.disabled = !cbSheet.disabled;
    
        localStorage.setItem(
          "colorblind",
          cbSheet.disabled ? "off" : "on"
        );
      });
    </script>
  </body>
</html>